{% extends "base.html" %}

{% block styles %}
<style>
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    }
</style>
{% endblock %}

{% block content %}
<h2>Continuous deployment</h2>

<div class="d-inline-flex align-items-center my-3">
    <span class="text-nowrap">Job</span>
    <select class="form-select form-select-sm mx-2" name="jobname">
        {% for name in available_jobs %}
        <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <button type="button"
            class="btn btn-primary btn-sm text-nowrap"
            hx-post="{% url 'django_cd:runjob' %}"
            hx-include="[name='jobname']">
        Force run
    </button>
</div>

<div hx-get="{% url 'django_cd:jobruns' %}" hx-trigger="load, every 600s">
    <div class="htmx-indicator spinner-border m-2" role="status"></div>
</div>
{% endblock %}